h1, h2, h3, h4, h5, h6{
	font-family:"Verdana";
}

p{
	font-family: sans-serif;
	word-wrap: break-word;
}

.regText{
	font-family: sans-serif;
}

.lowkeyText{
	font-family: sans-serif;
	font-style: italic;
	font-size: 65%;
	color: #555;
}

.lowkeyText a{
	color: #444;
}

.task{
	padding: 1em;
	background-color: #DDD;
}

.deleteButton{
	color: #777;
	float: right;
	text-align: center;
	padding: 0.1em;
	width: 1.2em;
	height: 1.2em;
}

.deleteButton:hover{
	color: #333;
	font-weight: bold;
	background-color: #CCC;
	cursor: pointer;
}


#maintitle{
	text-align: center;
}

#taskInput{
	padding: 2em;
	background-color: #E6F5FF;
	border-bottom: 3px solid #AAD;
}

input[name="task"]{
	height: 4em;
	width: 8em;
}

input[name="zip"]{
	width: 5em;
}

#warn{
	color: red;
	background-color: #F0F5F5;
	visibility: hidden;
}

#todoList{
	padding: 2em;
	background-color: #FFECE6;
	border-bottom: 3px solid #DAA;
}

#taskCount{
	 text-align: right;
}
